<div class="row">
    <div class="col-md-4 layout-row" *ngFor="let p of productList">

        <div class="row">
            <div class="col-6">
                <button color="accent" mat-button (click)="start(p)"
                    *ngIf="p.bidding===false && p.status==='' && selling===false">
                    <i class="material-icons">
                        gavel
                    </i>
                </button>
                <button type="button" class="btnlogin btn-sm btn-outline-secondary product-btn" (click)="stop(p)"
                    *ngIf="p.bidding===true">Cancel</button>
            </div>

            <div class="row">
                <app-product-row [product]="p">

                </app-product-row>
            </div>
        </div>

    </div>
</div>